# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push for the main branch
  push:
    branches: feature/update-apidocs-workflow

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Job to deploy javadoc to github.io page
  deploy:
    # Github runner used to perform workflow
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3
   
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
        cache: maven
       
      # Builds and deploys artifacts and javadoc locally on the github machine
    - name: Build with Maven
      run: mvn package
      working-directory: ./
      
    - name: Push JavaDoc to github.io page
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.MDO_OVER_COMMUNICATION }}
        src_branch: main
        src_path: ./target/apidocs
        dst_branch: main
        dst_path: /apidocs
        dst_owner: mdo-over
        dst_repo_name: mdo-over.github.io
        clean: true